log
tags
*.depend
obj
bin
bin/*.x
obj/*.o
*.pyc
*.h5
.DS_Store
*.info
*.o
*.x
*.out
*.a
scratch
extlibs/hdf5-1.12.0
extlibs/h5pp-master/
extlibs/HighFive-master/
extlibs/lz4-dev/
extlibs/zstd-dev/
src.tar
.*.swo
.*.swp
