log
tags
*.depend
obj
bin
bin/*.x
obj/*.o
*.pyc
*.h5
.DS_Store
*.o
*.x
*.a
*.so
scratch*
extlibs/hdf5-1.12.0
extlibs/h5pp-master/
extlibs/HighFive-master/
extlibs/lz4-dev/
extlibs/zstd-dev/
extlibs/magma-2.6.1/
extlibs/gsl-2.7.1/
extlibs/nlopt-2.7.1
extlibs/gperftools-master
pyutils/.ipynb_checkpoints/
src.tar
.*.swo
.*.swp
tmp
src/python/backup/
.vscode/settings.json
docs/build
rdm*.txt
core.*
